# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# env
.env*.local

# logs
*.log
npm-debug.log*

# os
.DS_Store

# editors
.vscode/
.idea/

# build
build/
dist/

# generated preview screenshots
site/preview/
